// 全局CSS 变量
// 文字颜色
$color-text:#fff;
$color-text-d:#808080;


// 背景颜色
$color-background:#40e399;
$color-background-d:#F0F2F0;
$color-background-line:linear-gradient(#40e399, #26bfb7);

// 默认视图层的背景色
@mixin fixed {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    bottom:0;
    background-color: $color-background-d;
    z-index: 99;
    // max-width: 750px;
}
// 背景图的2X 3X
@mixin bg-image ($url) {
  background-image: url($url + "@2x.png");
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3) {
    background-image: url($url + "@3x.png");
  }
}
// 清楚浮动
@mixin clearfix {
    display: inline-block;
    &::after {
        display: block;
        content: ".";
        height: 0;
        line-height: 0;
        clear: both;
        visibility: hidden;
    }
}
//  PC浏览
.fixed {
    @media (min-width: 750px){
        left: 50%;
        transform: translateX(-50%);
        max-width: 750px;
    }
}